h1 {
  color: rgb(0, 0, 0);
  background-image: 1;
  background-color: transparent;
}

h1,
h2 {
  background-color: rgba(135, 193, 133, 0.84);
  border-radius: 15%;
}

p {
  font-size: 1.5em;
  color: #456fab;
  background-image: none;
  background-color: transparent;
}
.classtest1 {
  background-image: url("/matwebdev/bilder/dragonfly-8105989_1280.jpg");
}