/* CSS - Datei fuer HTML-Projekt*/

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  color: cadetblue;
}
h1 {
  text-align: center;
}
ul#navbuttons_start {
  list-style: none;
  line-height: 1.5em;
  font-size: 1.5em;
}
a {
  text-decoration: none;
}

#crtbackground {
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header_text {
  overflow: hidden;
  position: relative;
  height: 100vh;
  z-index: 2;
  font-size: 2em;
  color: rgb(136, 136, 136);
}

@media screen and (max-width: 50em) {
  html {
    background: #000 no-repeat center center fixed;
  }
  video#backvid {
    display: none;
  }
}
.type-text {
  font-family: monospace;
  overflow: hidden;

  word-wrap: break-word;
  white-space: nowrap;
  animation: typing 6s steps(48) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 48ch;
  }
}
