@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,200&display=swap');

* {
    font-size: 16px;
    font-family: 'Aleo', serif;
    line-height: 120%;
}

  
h1 {
    font-weight: 800;
    font-size: 40px;
    background-color: grey;
}

.h2shadow {
    color: rgb(45, 40, 109);
    font-weight: 800;
    text-shadow: 5px 5px #d6080877;
}

.h2underline {
    color: #48018a;
    font-weight: 800;
    text-decoration: rgb(1, 143, 8) underline dashed;
}

h2 {
    color: chocolate;
    font-style: oblique;
}

body {
    background-color: burlywood;
}

a {
    text-decoration: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: auto;
    /*der Zeilenabstand bleibt überall gleich, solange er nicht für einzelne Elemente verändert wird*/
}

.p1firstwordcap {
    text-transform: capitalize;
}

section {
    color: rgb(0, 0, 0);
    /*die Textfarbe gilt für alles im der section, außer es wird für einzelne Elemente verändert*/
}

/*IDs sind im Dokument einmalig und haben daher auch die höchste Priorität, gefolgt von Klassen, die auch nötig sind, um natürliche Tageigenschaften zu überdecken (z.B. hat ein div-Container von sich heraus einen margin-Wert) und die normalen tags haben die geringste Priorität.*/

.box1 {
overflow: auto;
background: rgb(48, 48, 48);
border: 1px solid #ccc;
max-height: 45vh;
width: 49%;
font-size: 14px;
font-family: monospace;
padding: 1vh 0.5vw;
box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
white-space: pre-wrap;
outline: 0;
margin: 1vh 0.5vw;
}

/*
.box1 {
    width: 800px;
    border: 15px solid rgb(5, 16, 179);
    padding: 20px;
    margin: 30px;
    margin-left: 0;
    background-color: rgb(128,128,128,0.5)
}
*/
.box2 {
    width: 500px;
    border: 4px dashed rgb(56, 88, 66);
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(153,221,76,0.1)
  }

.box3 {
    width: 300px;
    border: 20px solid rgb(56, 88, 66);
    padding: 20px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128,128,128,0.5)
}

.box4 {
    width: 800px;
    border: 20px dashed rgb(56, 88, 66);
    padding: 40px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(241, 8, 8, 0.5)
}

.box5img {
    width: 200px;
    border: 15px solid rgb(5, 16, 179);
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 10px; 
}

.box6img {
    width: 400px;
    border: 15px solid rgb(5, 16, 179);
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 10px;
    }

p {
    color: rgb(70, 70, 70);
}

.p_color {
    color: rgb(26, 42, 184);
}



/* Design Buttons */
.linkbutton {
  background-color: #c71b1b;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 15px;
}

#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #979797;
    margin-right: 40px;
    width: 150px;
    line-height: 44px;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 15%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#buttons li a {
    text-decoration: none;
    color: #191111;
    display: block;  
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #7c9556;
    border-radius: 15%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#buttons li:active {
    transform: translateY(4px);
}

#whattsapp {
    color: #48018a;
    font-size: 500%;
}

#github {
    font-size: 300%;
}

#loesbutton {
    float: left;
    text-align: center;
    background-color: #979797;
    margin-right: auto;
    width: 150px;
    line-height: 44px;
    font-size: 16px;
    border-radius: 15%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}