body {
  background-color: black;
  margin: 0;
  padding: 0;
}

a {
  color: #a7a7a7dc;
}

a:link {
  color: #7e7e7edc;
}

h1 {
  color: rgb(255, 119, 7);
  text-align: center;
  margin-top: 2em;
  font-size: 45px;
}
.navbar {
  width: 100vw;
  overflow: auto;
  margin-top: 40px;
  padding-left: 20px;
  background-color: #f8f8f800;
  height: clamp(1em, 3vm, 1.75em);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  float: right;
  margin: 0;
}

li {
  display: inline;
  padding: 15px;
}

nav a {
  padding-right: 50px;
  font-weight: 500;
  font-size: clamp(1em, 2.5vw, 1.85em);
  text-decoration: none;
  display: inline-flex;
}

nav a:visited {
  color: #7e7e7e00;
}

.indexlink:visited {
  color: rgb(126, 126, 126);
}
.indexlink:hover {
  color: rgb(255, 119, 7);
}
nav a:hover {
  color: rgb(255, 119, 7);
}

nav a:active {
  text-decoration: underline;
}

ion-icon {
  color: #7e7e7e;
  font-size: clamp(1em, 2.5vw, 1.85em);
  font-weight: 800;
  margin-left: 20px;
  padding-top: 8px;
}
ion-icon:hover {
  color: rgb(255, 119, 7);
}
/* DROPDOWN MENUE !!!!!!!




ENDE DROPDOWN MENUE !!!!!!!!!!*/

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    margin-top: -5px;
  }

  nav li {
    display: block;
    background-color: #7a7a7a;
    text-align: center;
  }
}

/*CRT BACKGROUND !!!!!!!!!!*/

#crtbackground {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.2);
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
video {
  z-index: -1;
}
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  font-family: "Audiowide", cursive;
  font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
}

p {
  color: #8ae4d8ab;
  margin-left: 20px;
}

h2 {
  margin-left: 10px;

  color: rgb(255, 119, 7);
}

.textbox {
  display: flex;
  flex-direction: column;
}

details {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
  border: thick solid #7e7e7e;
  overflow: hidden;
  margin-bottom: 1em;
}

details[open] {
  transition: all 1s;
}

details > div {
  padding: 1em;
}

summary {
  color: rgb(255, 119, 7);
  position: relative;
  line-height: 300%;
  padding-left: 1em;
}
summary:hover {
  cursor: zoom-in;
}
