body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #e5e5e5;
  height: 50px;
}

.navbar img {
  width: 150px;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  float: right;
  margin: 0;
}

li {
  display: inline;
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: #353535;
  display: inline-block;
  padding-top: 15px;
}

nav a:hover {
  color: #00b2b2;
}

nav a:active {
  font-weight: bold;
}

#navbar {
  display: flexbox;
  position: sticky;
}

@media screen and (max-width: 700px) {
  nav {
    width: 100%;
    margin-top: -5px;
  }

  nav li {
    display: block;
    background-color: #e5e5e5;
    text-align: center;
  }
}

* {
  font-family: Montserrat, sans-serif;
}
